@charset "utf-8";
/* CSS Document */

#container, #footer_in {
	width:927px;
	margin:0 auto;
	padding:0 auto;
}
/* header */
#fla{position:absolute; margin-top:0px; z-index:1;}
#header {position:relative; width:927px; height:385px; margin:0 auto;  z-index:2;}

h1 {position:absolute; float:left;}
#gnb{width:927px; padding-top:4px;}
#gnb ul li{float:left; padding-left:15px;}

#yxtj {width:341px; clear:both;float:right;   top:20px; position:relative;}
.tj {background:url('/Images/top_bg01.jpg') no-repeat;width:341px;overflow:hidden; height:72px;}
.tj ul li {width:72px;height:72px;float:left; display:block;}
.tj ul li img {border:1px solid #000000; }
 
#top_menu{background:url('/Images/menu_bg01.jpg') no-repeat; padding-left:56px;*padding-left:56px; width:927px; height:87px; z-index:2;  position:absolute;  top:298px; }
#top_menu li{float:left;}


/* */
#sub1    {position:absolute; top:22px; left:-21px;}
#sub2    {position:absolute; top:22px; left:66px;}
#sub3    {position:absolute; top:22px; left:138px;}
#sub4    {position:absolute; top:22px; left:215px;}
#sub5    {position:absolute; top:22px; left:240px;}
#sub6    {position:absolute; top:22px; left:240px;}
#sub7    {position:absolute; top:22px; left:240px;}

/* content */
#left {width:194px; float:left;}
#xszn {width:185px;height:139px;background-color:#ffffff;}
#xszn ul {width:171px;margin-left:7px;}
#xszn ul li {background:url('/Images/left_bullet01.jpg') 5px 8px no-repeat;border-bottom:1px solid #d0cccc;padding-left:12px;height:24px;clear:both;}

#content {width:733px;float:right;}
#cont {width:733px; float:right;}

#cont_nr {width:457px;margin-top:9px;clear:both;float:left;}

#xw {background-color:#ffffff;width:457px;margin-bottom:9px;}
.index_tit01 {background:url('/Images/cont_bg01.jpg') no-repeat;width:457px; height:22px; position:relative; }
#xw ul {width:435px;margin-left:11px; height:205px; }
#xw ul li {background:url('/Images/news01.jpg') 0 1px no-repeat;border-bottom:1px solid #d0cccc;height:19px;padding-left:61px;*padding-left:61px;padding-top:5px;  }
.xwspan{width:215px;}
#phb {background-color:#ffffff;width:457px;margin-bottom:9px;clear:both;}
#phb ul {width:441px;margin:2px 0 0 8px;}
#phb ul li {text-align:center;width:88px;height:22px;float:left;padding-top:3px;}

#bs {background: url('/Images/cont_line01.jpg') no-repeat;width:441px;clear:both;margin-left:8px; height:150px;}
#bs thead th {width:441px;height:25px; text-align:center;}
#bs tbody {text-align:center;}
#bs tbody tr td {background: url('/Images/cont_line01.jpg') no-repeat;height:25px;}
.font01 {text-align:left;}

#hdxp {background:url('/Images/cont_bg02.jpg') no-repeat;width:457px;height:142px;clear:both;}
#hdxp h3 {padding:23px 0 0 10px;}
#hdxp ul li {padding:23px 9px 0 0;float:left;}
#hdxp ul li img {border:2px solid #ffffff;}

#cont_r {width:267px;margin-top:9px;float:right;}
#mrt {background-color:#ffffff;width:267px;margin-bottom:9px;}
.top_btn01 ul {width:225px;margin:0 0 0 7px;}
.top_btn01 ul li {text-align:center;width:56px;height:22px;float:left;padding-top:3px;}
.mrt_list {width:253px;clear:both;margin-left:7px;}
.mrt_list ul {width:253px; height:255px;}
.mrt_list ul li {background:url('/Images/left_bullet01.jpg') 5px 11px no-repeat;border-bottom:1px solid #d0cccc;height:20px;padding-left:11px;padding-top:4px;}
.right_baner {margin-bottom:0px;}

/* bg */
.bg01 {background:url('/Images/cont_bg01on.jpg') no-repeat;}
.bg02 {background:url('/Images/cont_bg01off.jpg') no-repeat;}
.bg03 {background:url('/Images/cont_bg02on.jpg') no-repeat;}
.bg04 {background:url('/Images/cont_bg02off.jpg') no-repeat;}

.bg05 {background:url('/Images/cont_bg03on.jpg') no-repeat;}
.bg06 {background:url('/Images/cont_bg03off.jpg') no-repeat;}
.bg07 {background:url('/Images/cont_bg04on.jpg') no-repeat;}
.bg08 {background:url('/Images/cont_bg04off.jpg') no-repeat;}

/* line */

.line01 {width:402px;border-bottom:2px solid #0c71a0;}


/* sub */
#content01 {width:733px; float:right; background-color:#ffffff;  overflow:hidden;}
#title01 {background:url('/Images/cont_bg03.jpg') no-repeat; width:733px; height:35px;}
#title01 h3 {background:url('/Images/cont_bullet04.jpg') 13px 14px no-repeat; padding:8px 0 0 27px; color:#1b2b4d; font-size:16px;}
.dqwz {text-align:right; padding:8px 10px 0 0;}

#sub_nr {width:685px;margin:30px 0 0 25px; }
.cp_img01 {background:url('/Images/cont_bg04.jpg') no-repeat;float:left;width:251px;height:216px;padding:9px 0 0 9px;margin-right:22px;}
.yxjs {width:402px;float:right;}
.yx_tit {width:402px;height:25px;padding-top:6px;border-bottom:2px solid #0c71a0;color:#0c71a0; font-size:16px;font-weight:bold;}
.yxjs tbody th {background:url('/Images/cont_bullet01.jpg') 5px 11px no-repeat; padding-left:16px; text-align:left;color:#0c71a0;}
.yxjs tbody tr {height:30px; border-bottom:1px solid #cccccc;}
.yx_btn {padding-top:18px;}

.dtjs {width:685px;clear:both; padding-top:60px;}
.dtjs h4 {background:url('/Images/cont_bg05.jpg') repeat-x; width:685px;height:23px;}

.yxlb {width:685px;clear:both; padding-top:60px;}
.yxlb h4 {background:url('/Images/cont_bg05.jpg') repeat-x; width:685px;height:23px;padding-bottom:30px;}
.yxlb ul li {background:url('/Images/cont_bg06.jpg') no-repeat; width:90px; height:94px;float:left;text-align:center;padding:11px 18px 0 0;}

.yxxz_xxnr {border-bottom:2px solid #0c71a0;width:685px;height:27px;}
.yxxz_xxnr01 {border-bottom:1px solid #0c71a0;width:685px;padding:15px 0 15px 0;}

#idss {background:url('/Images/cont_bg07.jpg') no-repeat;width:685px;height:57px;text-align:center;padding-top:17px;}
#tjlh {background:url('/Images/cont_bg08.jpg') no-repeat;width:665px;height:52px;padding:50px 0 0 20px;clear:both;margin-top:40px; overflow:hidden;}
#tjlh ul li {float:left; width:130px; height:52px;}
#gz {background:url('/Images/cont_bg09.jpg') no-repeat;width:660px;height:40px;padding:20px 0 0 25px;margin-top:20px;}
#jplh p {border-bottom:1px solid #cccccc;width:685px;height:21px;margin:20px 0 15px 0;}
#jplh ul li {background:url('/Images/cont_bg10.jpg') no-repeat;width:135px;height:58px;padding:16px 0 0 15px;float:left;margin:0 10px 12px 10px;}

.zhcz {height:683px;}
.zhcz li {background:url('/Images/cont_bg11.jpg') no-repeat;padding:14px 0 0 16px;width:314px;height:138px;float:left;margin:0 12px 5px 0;}

.cz table {border-top:2px solid #0c71a0;margin:5px 0 5px 0;}
.cz tbody tr {border-bottom:1px solid #cccccc;height:30px;}
.cz tbody th {background-color:#f0f0f0;text-align:left;padding-left:10px;}
.cz tbody td {padding-left:10px;}
.yzm {background-color:#dddddd;width:42px;height:18px;text-align:center;margin-right:5px;}
.yzm01 {width:180px;}
.yzm02 {width:280px;}
.cz_btn {text-align:center;padding:30px 0 60px 0;}

#xwzx {background:url('/Images/cont_bg12.jpg') no-repeat;width:685px;height:80px;padding:47px 0 0 54px;}
#xwzx ul li {background:url('/Images/cont_bullet03.jpg') 0px 8px no-repeat;float:left;padding-left:9px;width:150px;height:28px;}

#tgxt {background:url('/Images/cont_bg14.jpg') no-repeat;width:685px;height:82px;padding:47px 0 0 54px;}
#tgxt ul li {background:url('/Images/cont_bullet03.jpg') 0px 8px no-repeat;float:left;padding-left:9px;width:150px;height:28px;}

#zx {background: url('/Images/cont_bg13.jpg') no-repeat; width:685px; border-collapse:collapse; margin-top:10px;}
#zx thead th {width:685px;text-align:center;height:30px;background-image:none; padding-top:5px;color:#0c71a0;}
#zx tbody {text-align:center;}
#zx tbody tr td {height:17px;padding:8px 0 5px 0;border-bottom:1px solid #cccccc;background-image:none;}
.font02 {text-align:left; color:#ff6000;}

#phb_left {width:185px;background-color:#ffffff;}
.php_ul {width:168px;padding-left:7px;padding-bottom:10px;}
.php_d {background:url('/Images/left_bullet01.jpg') 5px 8px no-repeat;border-bottom:1px solid #d0cccc;padding:3px 0 0 12px;clear:both;}
.php_s {clear:both;}

#dhzx {width:685px;}
.dhzx_list li {width:156px;float:left;color:#0c71a0;padding:0 7px 0 7px;}
.dhzx_img {background:url('/Images/cont_bg15.jpg') no-repeat;width:156px;height:117px;text-align:center;padding-top:10px;}
.dhzx_tm ul li {width:145px;text-align:center;}

#login01 {
	background:url('/Images/cont_bg16.jpg') no-repeat;
	padding:90px 0 0 103px;
	width:514px;
	height:225px;
	margin-left:75px;
}
#login01 ul {
	float:left;
	padding-right:10px;
}
.login_btn01 {
	padding:10px 0 0 57px;
	clear:both;
}
.login_btn01 img {
	padding-right:10px;
}

.mmqd {width:90px;height:29px; margin:0 0 5px 0;}
.mmqd ul li {background-color:#bddff7; text-align:center; padding-top:6px; margin-right:1px; float:left; width:28px;height:23px; color:#0c71a0;}

#mmzh {width:514px; text-align:center; margin-left:75px;}
.mmzh01 {
	background:url('/Images/cont_bg17.jpg') repeat-y;
	width:514px;
}
.mmzh01 span {
	background:url('/Images/cont_bullet05.jpg') 0 8px no-repeat;
	padding:0 7px 0 11px;
	color:#0c71a0;
}
.zg {
	margin-left:30px;
	text-align:left;
	width:453px;
}
.zg p {
	margin-bottom:10px;
}
.zg ul {
	height:24px;
}
.zg ul li {
	background:url('/Images/cont_bullet06.jpg') 4px 7px no-repeat;
	padding-left:14px;
	width:95px;
	color:#0c71a0;
	float:left;
}

.dlzl {
	background:url('/Images/cont_bg19.jpg') no-repeat;
	width:393px;
	height:140px;
	padding-left:22px;
}
.dlzl ul li {
	border-bottom:1px solid #bababa;
	width:210px;
	height:16px;
	float:right;
	padding:7px 0 7px 0;
	margin-right:15px;
}
.hyxp {
	background:url('/Images/cont_bg18.jpg') no-repeat;
	width:112px;
	height:114px;
	text-align:center;
	padding-top:9px;
	float:left;
}
.hyxp img {
	padding-bottom:9px;
}


/* font */
.text01 {color:#ffffff; font-size:12px; line-height:18px;}
.text02 {color:#d6f1f6; font-size:12px; line-height:18px;}
.text03 {color:#98dae9; font-size:12px; line-height:18px;}
.text04 {color:#0c71a0; font-size:16px; line-height:18px;}
.text05 {color:#0c71a0; font-size:12px; line-height:18px;}
.text06 {color:#ff0000; font-size:12px; line-height:18px;}


/* foot */
#footer {clear:both;background:url('/Images/btm_bg01.jpg') repeat-x;width:100%;height:245px;}

#dz {position:relative;width:927px;height:100px;margin:0 auto;}

/* common */

body {
	background:url('/Images/bg01.jpg') repeat-x;
}

* {
	margin:0;
	padding:0;
	color:#555454;
	font-family:"宋体",arial;
	font-size: 12px;
	line-height:20px;
	list-style:none
}
form {
	display :inline; 
	margin:0;
	border:0;
	padding:0;
	margin:0
}
table   {border-collapse:collapse;}
img     {border:0px}
caption, .hide {display:none}
input, img, select, label, span {vertical-align:middle}
.skip   {position:absolute;top:-300px;left:-300px;}
ul.noline li {font:0/0 arial}
ul.ufl li    {float:left}
.afl *       {float:left}

.scroll  {
	scrollbar-face-color: #ffffff; 
	scrollbar-shadow-color: #e4e0d2; 
	scrollbar-highlight-color: #e4e0d2; 
	scrollbar-3dlight-color: #ffffff; 
	scrollbar-darkshadow-color: #ffffff; 
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #cec8b4;
}


a:link          {font-family:宋体; color:#555454; text-decoration:none;}
a:active        {font-family:宋体; color:#555454; text-decoration:none;}
a:visited       {font-family:宋体; color:#555454; text-decoration:none;}
a:hover	        {font-family:宋体; color:#555454; text-decoration:none;}

a.link01:link          {font-family:宋体; color:#ffffff; text-decoration:none;}
a.link01:active        {font-family:宋体; color:#ffffff; text-decoration:none;}
a.link01:visited       {font-family:宋体; color:#ffffff; text-decoration:none;}
a.link01:hover	      {font-family:宋体; color:#ffffff; text-decoration:none;}

a.link02:link          {font-family:宋体; font-size: 12px; color:#0c71a0; text-decoration:none;}
a.link02:active        {font-family:宋体; font-size: 12px; color:#0c71a0; text-decoration:none;}
a.link02:visited       {font-family:宋体; font-size: 12px; color:#0c71a0; text-decoration:none;}
a.link02:hover	      {font-family:宋体; font-size: 12px; color:#0c71a0; text-decoration:none;}

a.link03:link          {font-family:宋体; font-size: 12px; color:#555454; text-decoration:none;}
a.link03:active        {font-family:宋体; font-size: 12px; color:#555454; text-decoration:none;}
a.link03:visited       {font-family:宋体; font-size: 12px; color:#555454; text-decoration:none;}
a.link03:hover	      {font-family:宋体; font-size: 12px; color:#0c71a0; FONT-WEIGHT: bold; text-decoration:underline;}


/* ?? ?? */
.normal    {font-size:80% !important;font-weight:normal !important}
.al        {text-align:left !important}
.ac        {text-align:center !important}
.ar        {text-align:right !important}
.vt        {vertical-align:top !important}
.vb        {vertical-align:bottom !important}
 
.fl        {float:left}
.fr        {float:right}
.fc        {float:center;}
.cl        {clear:left}
.cr        {clear:right}
.cb        {clear:both}

/* ??? color ?? */
.b        {font-weight:bold !important}
.font0    {font:0/0 arial !important}
.txt_s    {font-size:80% !important}
.txt_big  {font-size:130% !important}
.txt_ls   {letter-spacing:-1px !important}
.txt_bb   {color:#000 !important}
.txt_bb2  {color:#2e2523 !important}
.txt_p    {color:#cb8a83 !important}
.txt_r    {color:#df3c1c !important}

/* padding ?? */
.l03     {padding-left:3px}
.l05     {padding-left:5px}
.l10     {padding-left:10px}
.l15     {padding-left:15px}
.l20     {padding-left:20px}
.l25     {padding-left:25px}
.l30     {padding-left:30px}
.l35     {padding-left:35px}
.l40     {padding-left:40px}
.l50     {padding-left:50px}
.l55     {padding-left:55px}
.l60     {padding-left:60px}
.l80     {padding-left:80px}
.l100     {padding-left:100px}
.l130     {padding-left:130px}
.t02     {padding-top:2px}
.t03     {padding-top:3px}
.t05     {padding-top:5px}
.t10     {padding-top:10px}
.t15     {padding-top:15px}
.t20     {padding-top:20px}
.t25     {padding-top:25px}
.t30     {padding-top:30px}
.t35     {padding-top:35px}
.t40     {padding-top:40px}
.t50     {padding-top:50px}
.t60     {padding-top:60px}
.r05     {padding-right:5px}
.r10     {padding-right:10px}
.r15     {padding-right:15px}
.r20     {padding-right:20px}
.r25     {padding-right:25px}
.r30     {padding-right:30px}
.r35     {padding-right:35px}
.r40     {padding-right:40px}
.r50     {padding-right:50px}
.b05     {padding-bottom:5px}
.b10     {padding-bottom:10px}
.b15     {padding-bottom:15px}
.b20     {padding-bottom:20px}
.b25     {padding-bottom:25px}
.b30     {padding-bottom:30px}
.b35     {padding-bottom:35px}
.b40     {padding-bottom:40px}
.b60     {padding-bottom:60px}
.b70     {padding-bottom:70px}
.b95     {padding-bottom:95px}
.b180     {padding-bottom:180px}
.mr30     {margin-right:30px}
.in       {border:#c1c1c1 solid 1px;height:18px;line-height:16px; }
.in2      {border:#7f9db9 solid 1px;height:16px;line-height:16px;}
.s_in     {
	border:0;
	background-color:#ececec;
	color:#909090;
	font-size:90%;
	letter-spacing:-1px;
	width:100px;
	margin-top:4px;
}
.current0
{
    
    }
 /*CSS sabrosus style pagination*/
DIV.sabrosus {width:100%;height:25px;clear:both;text-align:center;padding:20px 3px 20px;}
DIV.sabrosus A {display:inline-block;border: #9aafe5 1px solid;padding: 2px 5px; color: #108cc8; margin-right:2px;text-decoration:none;}
DIV.sabrosus A:hover {border: #9aafe5 1px solid;background: lightyellow;}
DIV.pagination A:active {border:#9aafe5 1px solid;background: lightyellow}
DIV.sabrosus SPAN.current {display:inline-block;border: #066594 1px solid;padding:2px 5px;color:#fff; margin-right:2px;background:#7bbbfc}
DIV.sabrosus SPAN.disabled {display:inline-block;border: #929292 1px solid;padding:2px 5px;color: #929292; margin-right:2px;}
.but_01
{
     background-image:url( /Images/cont_btn06.jpg); width:106px; height:34px; border:0px; 
    }
.but_02
{
      background-image:url( /Images/cont_btn07.jpg); width:106px; height:34px; border:0px; 
    }
    .clear
    {
    clear:both;
        }.but_Reg
        {
                 background-image:url( /Images/cont_btn12.jpg); width:62px; height:43px; border:0px; 
            }
            .note{color:#333;}
.note_yes{color:#2a8d03;padding:4px 25px 2px 0;background:url(/images/icon08.gif) no-repeat right center;}
.note_no{color:#f00;padding:3px 25px 2px 0;background:url(/images/icon09.gif) no-repeat right center;}
.pwSafe{border-collapse:collapse;background:#bddff7;}
.pwSafe td{padding:5px 8px 2px;text-align:center;vertical-align:middle;border:1px solid #e8f4fc;}


a.link04:link          {font-family:宋体; font-size: 13px; color:#0c71a0; text-decoration:none;}
a.link04:active        {font-family:宋体; font-size: 13px; color:#0c71a0; text-decoration:none;}
a.link04:visited       {font-family:宋体; font-size: 13px; color:#0c71a0; text-decoration:none;}
a.link04:hover	      {font-family:宋体; font-size: 13px; color:#0c71a0; text-decoration:none;}

.pro_input ,.btn5,.fr_input,.input
{
    height:18px;
    line-height:18px;
}
 .frie_pro{
	padding:5px 0;
	border-bottom:1px dashed #5bb8ee;}
.phoLib a {color:#0C71A0;}
.modipoto dl{float:left;width:160px;height:220px !important;text-align:center;overflow:hidden;}
.modipoto dl dd{padding-top:2px; }
.but_back
{
         background-image:url( /Images/cont_btn03.jpg); width:76px; height:35px; border:0px; 
    }
    .rank_manu{ padding:10px 0 5px;}
    a.rank_manubg{ background-color:#0c71a0; color:#FFF; padding:5px;}
    .rank_title{ padding:10px 0 10px; text-align:center; font-weight:bold; color:#0c71a0;}
    .but_011{ width:65px; height:23px; background:url(/images/but_011.gif) no-repeat; line-height:23px; text-align:center; color:#115e8f; margin-left:0px; border:0px; cursor:pointer;margin-top:2px; font-weight:bold; }
.but_022{ width:65px; height:23px; background:url(/images/but_022.gif) no-repeat; line-height:23px; text-align:center; color:#115e8f; margin-left:0px; border:0px; cursor:pointer;margin-top:2px; font-weight:bold; }
.shop_but_01{ width:64px; height:23px; background:url(/images/shop_but01.gif) no-repeat; line-height:23px; text-align:center; color:#115e8f; margin-left:0px; border:0px; cursor:pointer;margin-top:2px;  }
.shop_but_02{ width:64px; height:23px; background:url(/images/shop_but02.gif) no-repeat; line-height:23px; text-align:center; color:#115e8f; margin-left:0px; border:0px; cursor:pointer;margin-top:2px; }
#dhzx dl{ float:left; width:159px; height:145px; text-align:center;}
#dhzx dt{ text-align:center; margin-top:4px;}

#props{width:660px; margin:0 auto; padding-top:10px;}
#props dl{width:160px;height:210px;float:left;overflow:hidden;text-align:center;border-bottom:1px solid #cbecfb;margin-bottom:20px;}
#props dl{height:150px;}
.tab02{border-bottom:1px  dotted #c7c7c7; }
.tab02 td{padding:15px;}
.but_011
{
     background-image:url( /Images/sub_btn01.jpg); width:106px; height:34px; border:0px;  color:White;
    }
.but_022
{
      background-image:url( /Images/sub_btn02.jpg); width:106px; height:34px; border:0px;   color:White;
    }
 
#gametop li {width:74px;height:74px;float:left; display:block;}
#gametop li img {border:1px solid #000000; }

/*QQ飘窗*/
#qq {position:fixed; margin:0; left:0; top:130px;clear:both; overflow:hidden;}
#qq qq01 {width:128px;}
.qq01 ul li {border-bottom:1px solid #067497; height:17px; margin-left:13px; width:100px; padding:5px 0 5px 0;}
.qq01 ul li span a{color:White;}