<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中LuckIsland
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="constr" connectionString="server=59.175.238.107;database=87WinDev;uid=dev;pwd=dev;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--此行代码的value值如果和域名不一致，会导致玩家无法登录 add key="Domain" value="http://localhost:83"/-->
		<!--后台目录设置，方便客户修改目录名称-->
		<add key="ManageDirectory" value="admin"/>
		<add key="Domain" value=""/>
		<!--允许金币与客户平台兑换的IP,*表示所有IP-->
		<add key="AllowGoldChangeIP" value="*"/>
		<!--货币名-->
		<add key="moneyName" value="欢乐豆"/>
		<!--实货币名-->
		<add key="GoldName" value="奖券"></add>
		<!--平台名称-->
		<add key="sitename" value="面对面"/>
		<add key="FileNameSequenceIDFilePath" value="/Upload/Sequence.xml"/>
		<add key="addZero" value=""/>
		<!--数据库执行时间设置，防止短时间sql超时-->
		<add key="Command.CommandTimeout" value="1800"></add>
		<!--银行版本 1一个钱包 2一个游戏一个钱包-->
		<add key="BankVersion" value="1"></add>
		<!--金币除以100-->
		<add key="ExceptZero" value="100"></add>
		<!--用户加密方式-->
		<add key="encryption" value="md5"/>
		<add key="CookiesName" value="Bzw"/>
		<!-- FCKEditor配置 -->
		<add key="FCKeditor:BasePath" value="/Public/Js/fckeditor/"/>
		<add key="FCKeditor:UserFilesPath" value="/Upload/FCK/"/>
		<!--兑奖中心，兑换成功后的提示信息-->
		<add key="DuiJingMgs" value="恭喜！您的资料已提交成功，我们会尽快处理……">
		</add>
		<!--控制用户资料的QQ字段是否为必填，为1的时候表示必添，为0或其他的时候表示不需要-->
		<add key="QQ" value="0"/>
		<!--控制用户资料的真实姓名是否为必填，为1的时候表示必添，为0或其他的时候表示不需要-->
		<add key="RealName" value="0"/>
		<!--控制用户资料的身份证号码是否为必填，为1的时候表示必添，为0或其他的时候表示不需要-->
		<add key="IDCard" value="1"/>
		<!--房间税率名称配置-->
		<add key="RoomTaxName" value="门票"/>
		<!--游戏房间是否显示税率的配置,1为显示，0为不显示，即只显示门票-->
		<add key="RoomTaxSelected" value="1"/>
		<!--是否开启未成年人保护 0为不开启，1为开启即18岁以下不让注册-->
		<add key="IsCardProtected" value="0"></add>
		<add key="IPDataUrl" value="/IPData/CoralWry.dat"/>
		<!--机器人是否参与所有排行 1参与排行 0不参与排行-->
		<add key="RobotRank" value="1"></add>
		<!--服装商城 0无 1有-->
		<add key="ClothingMall" value="1"></add>
		<!--是否可以充积分 0无  1有-->
		<add key="IsPayToPoint" value="1"></add>
		<!--1.易宝充值商户ID、KEY配置-->
		<!--
			易宝接口测试的商户ID：10000432521
			KEY：8UPp0KE8sq73zVP370vko7C39403rtK1YwX40Td6irH216036H27Eb12792t
			URL：http://tech.yeepay.com:8080/robot/debug.action
		
	-->
		<add key="YeepayMerID" value="1"/>
		<add key="YeepayKey" value=""/>
		<add key="YeepayNodeAuthorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>
		<!--2.支付宝充值接口配置-->
		<add key="AlipayAccount" value=""/>
		<add key="AlipayPartnerID" value=""/>
		<add key="AlipayKey" value=""/>
		<add key="AlipayNotifyURL" value="https://www.alipay.com/cooperate/gateway.do?"/>
		<!--3.15173支付参数配置 
		Pay15173ID：15173商户ID
		Pay15173Key：15173密钥
	 -->
		<add key="Pay15173ID" value=""/>
		<add key="Pay15173Key" value=""/>
		<!--
          4.环迅充值配置
          ipsid商户编号
    -->
		<add key="ipsid" value="015304"/>
		<add key="ipsletter" value="LMuQGl20B1l68C7Ou73GZs4Uk4nVYstCjW3aaa8NAtChPQrDSWC5ztpTGQfCxXRK7YOb8WoKzf6feN5KDZ31eoDpgaKAuwQcStZr2F4vjt6Jn9ouKMzOUPeKKYuYCdP2"/>
		<!--5.KF支付接口-->
		<add key="KFPayID" value=""></add>
		<add key="KFKey" value=""></add>
		<!--KF提交URL-->
		<add key="KFNotifyURL" value="http://www.kfpos.com/pay/gateway.asp?"></add>
		<!--6.宝付支付参数配置 
    baofoo_memberid:商户编号 
    baofoo_key:密钥 -->
		<add key="baofoo_memberid" value=""/>
		<add key="baofoo_key" value=""/>
		<!--7.聚付通参数设置
    JFTpay_MemberID :商户编号
    JFTpay_MemberKey:密钥
    -->
		<add key="JFTpay_MemberID" value=""/>
		<add key="JFTpay_MemberKey" value=""/>
		<!--首页静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_Default_Build" value="0"/>
		<!--游戏下载静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_Down_Build" value="0"/>
		<!--游戏规则静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_GameRule_Build" value="0"/>
		<!--新闻详细静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_NewsInfo_Build" value="0"/>
		<!--财富排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_RankMoney_Build" value="0"/>
		<!--魅力值排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_RankFasc_Build" value="0"/>
		<!--在线时间排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_RankOnLine_Build" value="0"/>
		<!--游戏时间排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_RankGameTime_Build" value="0"/>
		<!--游戏积分排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
		<add key="Key_RankGamePoint_Build" value="0"/>
	</appSettings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入 f
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" timeout="20">
		</sessionState>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 <authentication mode="Windows" />
        -->
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="Error.htm"/>
		<!--  注意：此节设置是否使用ASP.net表单安全验证
    -->
		<!--  注意：此节设置由DnsServer接管http请求。不会干涉对非DnsServer路径下的请求。
    
		<httpModules>
			<add type="com.FlySky.HttpDnsServer" name="HttpDnsServer" />
		</httpModules>-->
		<!--  全球化
          此节设置应用程序的全球化设置。 utf-8
    -->
		<httpRuntime maxRequestLength="1000000" executionTimeout="720"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
