<?xml version="1.0" encoding="utf-8"?>
<bcaster>
  <item id="1" >
    <name>朱先生</name>
    <number>6691865</number>
  </item>

  <item id="2" >
    <name>涂小姐</name>
    <number>6048443</number>
  </item>

  <item id="3" >
    <name>昌先生</name>
    <number>6691701</number>
  </item>

  <item id="4" >
    <name>廖小姐
    </name>
    <number>1585434477</number>
  </item>

  <item id="5" >
    <name>赵先生
    </name>
    <number>842196795</number>
  </item>

  <item id="6" >
    <name>刘先生</name>
    <number>2514954911</number>
  </item>

</bcaster>
