<?xml version="1.0" encoding="utf-8"?>
<SeoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SeoConfigFilePath>/Upload/SEOConfig.config</SeoConfigFilePath>
  <DefaultSeo>
    <Title />
    <Keyword />
    <Description />
  </DefaultSeo>
  <IndexSeo>
    <Title>棋牌首页</Title>
    <Keyword>棋牌首页</Keyword>
    <Description>棋牌首页</Description>
  </IndexSeo>
  <DownPageSeo>
    <Title />
    <Keyword />
    <Description />
  </DownPageSeo>
  <GameInfoSeo>
    <Title />
    <Keyword />
    <Description />
  </GameInfoSeo>
  <PaySeo>
    <Title />
    <Keyword />
    <Description />
  </PaySeo>
  <ActivitySeo />
  <NewsListSeo>
    <Title />
    <Keyword />
    <Description />
  </NewsListSeo>
  <PrizeSeo>
    <Title />
    <Keyword />
    <Description />
  </PrizeSeo>
  <FAQSeo>
    <Title />
    <Keyword />
    <Description />
  </FAQSeo>
  <RankSeo>
    <Title />
    <Keyword />
    <Description />
  </RankSeo>
  <Register>
    <Title />
    <Keyword />
    <Description />
  </Register>
  <PrizeRank>
    <Title />
    <Keyword />
    <Description />
  </PrizeRank>
  <NetPaySeo>
    <Title />
    <Keyword />
    <Description />
  </NetPaySeo>
  <AliPaySeo>
    <Title />
    <Keyword />
    <Description />
  </AliPaySeo>
  <KuaiQianSeo>
    <Title />
    <Keyword />
    <Description />
  </KuaiQianSeo>
  <TotalPrizeSeo>
    <Title />
    <Keyword />
    <Description />
  </TotalPrizeSeo>
  <DDZRankSeo>
    <Title />
    <Keyword />
    <Description />
  </DDZRankSeo>
  <NNTotalRankSeo>
    <Title />
    <Keyword />
    <Description />
  </NNTotalRankSeo>
  <NNRankSeo>
    <Title />
    <Keyword />
    <Description />
  </NNRankSeo>
  <WalletRankSeo>
    <Title />
    <Keyword />
    <Description />
  </WalletRankSeo>
  <RankDetail>
    <Title />
    <Keyword />
    <Description />
  </RankDetail>
  <PromoterSeo>
    <Title />
    <Keyword />
    <Description />
  </PromoterSeo>
  <PropBuyListSeo>
    <Title />
    <Keyword />
    <Description />
  </PropBuyListSeo>
  <Userpicture>
    <Title />
    <Keyword />
    <Description />
  </Userpicture>
</SeoConfig>