<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="dbConnString" value="Server =59.175.238.107;database=webdev;uid=dev;pwd=dev;Integrated Security=false"/>
  </appSettings>
</configuration>
