<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<appSettings>
		<add key="dbConnString" value="Server =59.175.238.107;database=87WinDev;uid=dev;pwd=dev;Integrated Security=false;Asynchronous Processing=true;Connect Timeout=15;Connection Lifetime=15"/>
		<!-- 
    <add key="dbConnString" value="Server =.;database=QPS;uid=sa;pwd=sa;Integrated Security=false;Asynchronous Processing=true;Connect Timeout=15;Connection Lifetime=15"/>
    -->
	</appSettings>
</configuration>
